@use "@styles/fn" as *;

a,
input,
button {
    &.cd-button {
        font-family: "Inter", sans-serif;
        border-radius: 16px 0;
        font-size: 14px;
        white-space: nowrap;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        padding: 12px 24px;
        font-size: 18px;

        &:hover {
            background-color: var(--primary-color);
            color: var(--primary-color-foreground);
        }
    }
}

.cd-section:has(.cd-section-content.cd-full-width),
.cd-section-content.cd-full-width:has(footer-card) .cd-row {
    max-width: unset;
}

.cd-section-content.cd-full-width:has(footer-card) .cd-row {
    padding: 0;
}

.cd-section.cd-dark,
.cd-section.cd-light {
    margin: 0 auto;
}

.cd-section {
    max-width: var(--max-content-width);
    padding: 16px;
    margin: 0 auto;
}

.cd-block .cd-block-content {
    padding: 0;
    @include small-tablet {
        padding: 0 10px;
    }
}

.cd-row,
.cd-section-content.cd-full-width .cd-row {
    padding: 16px 0;
    max-width: var(--max-content-width);
    margin: 0 auto;
    @include small-tablet {
        padding: 16px;
    }
}

.cc-banner {
    background-color: #B6D1E3;
    border-top: 1px solid rgba(14, 102, 161, 0.65);
}

// Apply style only for light background
.cd-light {

    & a,
    & a:link,
    & a:visited {
        color: var(--primary-color);
    }
}

// Apply style only for dark background
.cd-dark {

    & a,
    & a:link,
    & a:visited {
        color: var(--primary-color);
    }
}


// Apply for all themes
.cd-light,
.cd-dark,
.cd-light .cd-dark,
.cd-dark .cd-light {

    & a,
    & input,
    & button {
        &.cd-button {
            font-family: "Inter", sans-serif;
            border-radius: 16px 0;
            font-size: 14px;
            white-space: nowrap;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            padding: 12px 24px;
            font-size: 18px;
        }

        &.cd-button-primary {
            background-color: var(--primary-color);
            color: var(--primary-color-foreground);

            &:hover {
                color: var(--text-color);
                background-color: var(--background-color);
            }
        }

        &.cd-button-secondary {
            color: var(--text-color);
            background-color: var(--background-color);

            &:hover {
                background-color: var(--secondary-color);
                color: var(--secondary-color-foreground);
            }
        }

        &.cd-button-tertiary {
            padding: 8px 16px;
            font-size: 16px;
            border: 1px solid var(--primary-color);
        }
    }

    & .cd-tile-h-main-area {
        background-color: var(--primary-color);
    }

    & .cd-tile-h-main-heading {
        color: #d3edff
    }
}

.cc-window.cc-banner,
.cc-window.cc-floating {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    width: auto;
    max-width: unset;
    flex-direction: row;
    align-items: center;
    border-radius: 22px 22px 0 0;
    padding: 6px 6px 4px;
    &.cc-message {
        margin-bottom: unset;
    }
    &.cc-bottom {
        bottom: 0;
        left: 16px;
        right: 16px;
        @include small-tablet {
            left: 32px;
            right: 32px;
        }
    }

    .cc-btn {
        border-radius: 0 16px;
    }
}
.cc-revoke {
    background: rgba(182, 209, 227, 0.5);
    border-top: 1px solid rgb(182, 209, 227);
    backdrop-filter: blur(10px);
    font-size: 11px;
    padding: 2px 4px;
    transition: bottom 0.3s, opacity 0.3s;
    &:hover {
        &.cc-bottom {
            bottom: 0;
        }
    }
    &.cc-bottom {
        bottom: -3px;
        left: unset;
        right: 4px;
    }
}