---
import MTemplate from "@components/mustache/MTemplate.astro";
---

<MTemplate tp="content">
	<div class="cd-content">
		<div
			id="section_1000095"
			class="cd-section"
			debug-label="1000095"
			style=""
		>
			<span
				class="cd-backgroundPane"
				style="display: block; position: absolute; overflow: hidden;top: 0px;left: 0px;bottom: 0px;right: 0px;"
			>
			</span>
			<div class="cd-section-content">
				<div class="cd-row">
					<div class="cd-col m12">
						<div
							data-block-type="24"
							class="cd-block"
							debug-label="TitleBlock:1000360"
							id="block_1000360"
							style=""
						>
							<div
								class="cd-block-content"
								id="block_1000360_content"
								style=""
							>
								<h1>Mach mit</h1>
							</div>
						</div>
					</div>
				</div>

				<div class="cd-row">
					<div class="cd-col m4">
						<div
							data-block-type="21"
							class="cd-block cd-light"
							debug-label="Image:1000361"
							id="block_1000361"
							style="margin: 0 10px;"
						>
							<div
								class="cd-block-content"
								id="block_1000361_content"
								style="padding: 10px 20%;"
							>
								<div class="cd-image-block">
									<div class="cd-image-wrapper-1">
										<div
											class="cd-image-content cd-image-content-circle"
										>
											<a
												href="/remote/www/clubdesk/fileservlet?type=image&id=1000163&s=djEtfajXLHtGUn_DXngU4ERY4N2rq_qGIUwWn5TcJC1XWhM=&imageFormat=_2048x2048"
												data-featherlight="image"
												><img
													class="cd-image-contain"
													src="/remote/www/clubdesk/fileservlet?type=image&id=1000163&s=djEtfajXLHtGUn_DXngU4ERY4N2rq_qGIUwWn5TcJC1XWhM=&imageFormat=_2048x2048"
												/></a
											>
										</div>
									</div>
								</div>
							</div>
							<span
								class="cd-backgroundPane"
								style="display: block; position: absolute; overflow: hidden;top: 0px;left: 0px;bottom: 0px;right: 0px;background-color: rgba(160, 179, 25, 0.4);"
							>
							</span>
						</div>
						<div
							data-block-type="0"
							class="cd-block cd-block-justify"
							debug-label="TextBlock:1000362"
							id="block_1000362"
							style=""
						>
							<div
								class="cd-block-content"
								id="block_1000362_content"
								style=""
							>
								<p>
									Lorem ipsum dolor sit amet, consectetur
									adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam.
								</p><p>
									Duis aute irure dolor in reprehenderit in
									voluptate velit esse cillum dolore eu fugiat <a
										href="#">nulla</a
									> pariatur.
								</p>
							</div>
						</div>
					</div>
					<div class="cd-col m4">
						<div
							data-block-type="21"
							class="cd-block cd-light"
							debug-label="Image:1000363"
							id="block_1000363"
							style="margin: 0 10px;"
						>
							<div
								class="cd-block-content"
								id="block_1000363_content"
								style="padding: 10px 20%;"
							>
								<div class="cd-image-block">
									<div class="cd-image-wrapper-1">
										<div
											class="cd-image-content cd-image-content-circle"
										>
											<a
												href="/remote/www/clubdesk/fileservlet?type=image&id=1000163&s=djEtfajXLHtGUn_DXngU4ERY4N2rq_qGIUwWn5TcJC1XWhM=&imageFormat=_2048x2048"
												data-featherlight="image"
												><img
													class="cd-image-contain"
													src="/remote/www/clubdesk/fileservlet?type=image&id=1000163&s=djEtfajXLHtGUn_DXngU4ERY4N2rq_qGIUwWn5TcJC1XWhM=&imageFormat=_2048x2048"
												/></a
											>
										</div>
									</div>
								</div>
							</div>
							<span
								class="cd-backgroundPane"
								style="display: block; position: absolute; overflow: hidden;top: 0px;left: 0px;bottom: 0px;right: 0px;background-color: rgba(160, 179, 25, 0.4);"
							>
							</span>
						</div>
						<div
							data-block-type="0"
							class="cd-block cd-block-justify"
							debug-label="TextBlock:1000364"
							id="block_1000364"
							style=""
						>
							<div
								class="cd-block-content"
								id="block_1000364_content"
								style=""
							>
								<p>
									Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt
									mollit anim id est laborum.
								</p><p>
									Ut enim ad minim veniam, quis nostrud
									exercitation ullamco laboris nisi ut aliquip
									ex ea commodo consequat. Duis aute irure
									dolor in.
								</p>
							</div>
						</div>
					</div>
					<div class="cd-col m4">
						<div
							data-block-type="21"
							class="cd-block cd-light"
							debug-label="Image:1000365"
							id="block_1000365"
							style="margin: 0 10px;"
						>
							<div
								class="cd-block-content"
								id="block_1000365_content"
								style="padding: 10px 20%;"
							>
								<div class="cd-image-block">
									<div class="cd-image-wrapper-1">
										<div
											class="cd-image-content cd-image-content-circle"
										>
											<a
												href="/remote/www/clubdesk/fileservlet?type=image&id=1000163&s=djEtfajXLHtGUn_DXngU4ERY4N2rq_qGIUwWn5TcJC1XWhM=&imageFormat=_2048x2048"
												data-featherlight="image"
												><img
													class="cd-image-contain"
													src="/remote/www/clubdesk/fileservlet?type=image&id=1000163&s=djEtfajXLHtGUn_DXngU4ERY4N2rq_qGIUwWn5TcJC1XWhM=&imageFormat=_2048x2048"
												/></a
											>
										</div>
									</div>
								</div>
							</div>
							<span
								class="cd-backgroundPane"
								style="display: block; position: absolute; overflow: hidden;top: 0px;left: 0px;bottom: 0px;right: 0px;background-color: rgba(160, 179, 25, 0.4);"
							>
							</span>
						</div>
						<div
							data-block-type="0"
							class="cd-block cd-block-justify"
							debug-label="TextBlock:1000366"
							id="block_1000366"
							style=""
						>
							<div
								class="cd-block-content"
								id="block_1000366_content"
								style=""
							>
								<p>
									Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt
									mollit anim id est laborum.
								</p><p>
									Duis aute irure dolor in reprehenderit in
									voluptate velit esse cillum dolore eu fugiat
									nulla pariatur. Excepteur sint occaecat
									cupidatat non proident.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			id="section_1000096"
			class="cd-section cd-light"
			debug-label="1000096"
			style=""
		>
			<span
				class="cd-backgroundPane"
				style="display: block; position: absolute; overflow: hidden;top: 0px;left: 0px;bottom: 0px;right: 0px;background-color: rgba(160, 179, 25, 0.4);"
			>
			</span>
			<div class="cd-section-content">
				<div class="cd-row">
					<div class="cd-col m12">
						<div
							data-block-type="24"
							class="cd-block"
							debug-label="TitleBlock:1000367"
							id="block_1000367"
							style=""
						>
							<div
								class="cd-block-content"
								id="block_1000367_content"
								style=""
							>
								<h1>News</h1>
							</div>
						</div>
					</div>
				</div>

				<div class="cd-row">
					<div class="cd-col m6">
						<div
							data-block-type="0"
							class="cd-block"
							debug-label="TextBlock:1000368"
							id="block_1000368"
							style=""
						>
							<div
								class="cd-block-content"
								id="block_1000368_content"
								style=""
							>
								<p>
									Ut enim ad minim <a href="#">veniam,</a> quis
									nostrud exercitation ullamco laboris nisi ut
									aliquip ex ea commodo consequat. Duis aute irure.
								</p>
							</div>
						</div>
					</div>
					<div class="cd-col m6">
						<div
							data-block-type="0"
							class="cd-block"
							debug-label="TextBlock:1000369"
							id="block_1000369"
							style=""
						>
							<div
								class="cd-block-content"
								id="block_1000369_content"
								style=""
							>
								<p>
									Duis aute irure dolor in reprehenderit in
									voluptate <a href="#">velit</a> esse cillum dolore
									eu fugiat nulla pariatur. Excepteur sint occaecat
									cupidatat.
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="cd-row">
					<div class="cd-col m12">
						<div
							data-block-type="1"
							class="cd-block"
							debug-label="NewsItemList-List:1000370"
							id="block_1000370"
							style=""
						>
							<div
								class="cd-block-content"
								id="block_1000370_content"
								style=""
							>
								<div class="cd-newslist-tile-h cd-tile-h">
									<span
										class="cd-back-anchor"
										id="newslistblock-1000370"></span>
									<div class="cd-tile-container">
										<div
											class="cd-tile-h-box cd-tile-width-2"
											onclick="window.location.href='/?b=1000370&c=ND1000001&s=djEtz0BDzmwEkB9AYoxWrrHGYUCmyEJNzsioVk3cVhGcrRs='"
											style="cursor:pointer;"
										>
											<span
												class="cd-back-anchor"
												id="newslistblock-1000370-newsitem-1000001"
											></span>
											<div class="cd-tile-h-main-area">
												<div
													class="cd-tile-h-main-heading"
												>
													test
												</div>
												<div
													class="cd-tile-h-main-subheading"
												>
													<time>24.04.2025</time>
													, Tschudi Simon
												</div>
											</div>

											<div class="cd-tile-h-detail-area">
												<div
													class="cd-tile-h-detail-value"
												>
													test
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			id="section_1000097"
			class="cd-section"
			debug-label="1000097"
			style=""
		>
			<span
				class="cd-backgroundPane"
				style="display: block; position: absolute; overflow: hidden;top: 0px;left: 0px;bottom: 0px;right: 0px;"
			>
			</span>
			<div class="cd-section-content">
				<div class="cd-row">
					<div class="cd-col m12">
						<div
							data-block-type="24"
							class="cd-block"
							debug-label="TitleBlock:1000371"
							id="block_1000371"
							style=""
						>
							<div
								class="cd-block-content"
								id="block_1000371_content"
								style=""
							>
								<h1>Termin</h1>
							</div>
						</div>
					</div>
				</div>

				<div class="cd-row">
					<div class="cd-col m6">
						<div
							data-block-type="0"
							class="cd-block"
							debug-label="TextBlock:1000372"
							id="block_1000372"
							style=""
						>
							<div
								class="cd-block-content"
								id="block_1000372_content"
								style=""
							>
								<p>
									Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt
									mollit anim id est laborum. Lorem ipsum <a
										href="#">dolor.</a
									>
								</p>
							</div>
						</div>
					</div>
					<div class="cd-col m6">
						<div
							data-block-type="0"
							class="cd-block"
							debug-label="TextBlock:1000373"
							id="block_1000373"
							style=""
						>
							<div
								class="cd-block-content"
								id="block_1000373_content"
								style=""
							>
								<p>
									Lorem ipsum dolor sit amet, consectetur
									adipiscing elit, sed do eiusmod tempor
									incididunt ut labore <a href="#">et</a> dolore
									magna aliqua.
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="cd-row">
					<div class="cd-col m12">
						<div
							data-block-type="2"
							class="cd-block"
							debug-label="EventList:1000374"
							id="block_1000374"
							style=""
						>
							<div
								class="cd-block-content"
								id="block_1000374_content"
								style=""
							>
								<span
									class="cd-back-anchor"
									id="eventblock-1000374"></span>

								<div class="event-list cd-tile-h">
									<div id="event-message">
										Keine Termine vorhanden.
									</div><div class="icsFooter">
										<div class="icsText">
											<i class="far fa-calendar-plus"></i>
											<a
												class="importantLink"
												href="/?b=1000374&c=EL&s=djEt8rq2_lNwrPfO0anfI5l4wJ0KBdPAxsZDILZaHo8KTVY=&subscribeUrl=webcal%3A%2F%2Fcalendar.clubdesk.com%2Fclubdesk%2Fical%2F70523%2F1000374%2FdjEt4C2REYSC6__HuQaIM6YVZqhqgrBOh0lEDCTfGInQGq8%3D%2Fbasic.ics"
												>Termine abonnieren</a
											>
											<span class="icsExplanation"
												>(in Kalender wie Outlook, iCal
												oder Mobilgeräte hinzufügen)</span
											>
										</div>
									</div>
									<p class="cd-detailPageNavigation"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</MTemplate>
