---
import MTemplate from "@components/mustache/MTemplate.astro";
---

<footer>
    <MTemplate tp="footer">
        <div class="cd-footer">
            <div
                id="section_1000093"
                class="cd-section"
                debug-label="1000093"
                style=""
            >
                <span
                    class="cd-backgroundPane"
                    style="display: block; position: absolute; overflow: hidden;top: 0px;left: 0px;bottom: 0px;right: 0px;"
                >
                </span>
                <div class="cd-section-content cd-full-width">
                    <div class="cd-row">
                        <div class="cd-col m12">
                            <div
                                data-block-type="19"
                                class="cd-block"
                                debug-label="SpaceBlock:1000351"
                                id="block_1000351"
                                style=""
                            >
                                <div
                                    class="cd-block-content"
                                    id="block_1000351_content"
                                    style=""
                                >
                                    <div
                                        class="cd-space"
                                        style="height: 50px; margin: 0; padding: 0; border: 0;"
                                    >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cd-row">
                        <div class="cd-col m12">
                            <div
                                data-block-type="20"
                                class="cd-block"
                                debug-label="HorizontalRulerBlock:1000352"
                                id="block_1000352"
                                style=""
                            >
                                <div
                                    class="cd-block-content"
                                    id="block_1000352_content"
                                    style=""
                                >
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cd-row">
                        <div class="cd-col m6">
                            <div
                                data-block-type="0"
                                class="cd-block cd-block-right cd-block-mobile-center"
                                debug-label="TextBlock:1000353"
                                id="block_1000353"
                                style="flex-grow: 1;margin: 5px 20px;"
                            >
                                <div
                                    class="cd-block-content"
                                    id="block_1000353_content"
                                    style=""
                                >
                                    <p>
                                        © TestVereinsname<br /><span
                                            style="font-size: 80%;"
                                            ><a
                                                href="https://www.clubdesk.ch"
                                                target="_blank"
                                                >Erstellt mit ClubDesk
                                                Vereinssoftware</a
                                            ></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="cd-col m6">
                            <div
                                data-block-type="0"
                                class="cd-block cd-block-mobile-center"
                                debug-label="TextBlock:1000354"
                                id="block_1000354"
                                style="flex-grow: 1;margin: 5px 20px;"
                            >
                                <div
                                    class="cd-block-content"
                                    id="block_1000354_content"
                                    style=""
                                >
                                    <p>
                                        <a href="/impressum">Impressum</a><br
                                        /><a href="/datenschutz">Datenschutz</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </MTemplate>
</footer>


<style>
    footer {
        view-transition-name: main-footer;
    }
</style>