---
import MTemplate from "@components/mustache/MTemplate.astro";
---

<div class="header-wrapper">
    <MTemplate tp="header">
        <div class="cd-header">
            <div
                id="section_1000094"
                class="cd-section cd-light cd-min-height-set"
                debug-label="1000094"
                style="min-height: 100dvh;"
            >
                <span
                    class="cd-backgroundPane cd-backgroundPosition_COVER"
                    style="display: block; position: absolute; overflow: hidden;top: 0px;left: 0px;bottom: 0px;right: 0px;filter: blur(0px);background-image: url(https://testvereinsname.clubdesk.com/clubdesk/fileservlet?inline=true&type=image&id=1000053&s=djEtotsw7aNSrOTB-TbnogP4XGv2w_ssF4um38XoMeO1P90=);background-color: #ffffff;"
                >
                    <div
                        class="cd-brightness-glasspane"
                        style="background-color: rgba(255,255,255,0.2);"
                    >
                    </div>
                </span>
                <div class="cd-section-content">
                    <div class="cd-row">
                        <div class="cd-col m12">
                            <div
                                data-block-type="19"
                                class="cd-block"
                                debug-label="SpaceBlock:1000355"
                                id="block_1000355"
                                style=""
                            >
                                <div
                                    class="cd-block-content"
                                    id="block_1000355_content"
                                    style=""
                                >
                                    <div
                                        class="cd-space"
                                        style="height: 130px; margin: 0; padding: 0; border: 0;"
                                    >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cd-row">
                        <div class="cd-col m12">
                            <div
                                data-block-type="0"
                                class="cd-block"
                                debug-label="TextBlock:1000356"
                                id="block_1000356"
                                style=""
                            >
                                <div
                                    class="cd-block-content"
                                    id="block_1000356_content"
                                    style=""
                                >
                                    <h5 style="text-align: center;">
                                        SC Muster
                                    </h5>
                                    <h6 style="text-align: center;">
                                        Fussball ist unsere Leidenschaft
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cd-row">
                        <div class="cd-col m12">
                            <div
                                data-block-type="19"
                                class="cd-block"
                                debug-label="SpaceBlock:1000357"
                                id="block_1000357"
                                style=""
                            >
                                <div
                                    class="cd-block-content"
                                    id="block_1000357_content"
                                    style=""
                                >
                                    <div
                                        class="cd-space"
                                        style="height: 30px; margin: 0; padding: 0; border: 0;"
                                    >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cd-row">
                        <div class="cd-col m6">
                            <div
                                data-block-type="25"
                                class="cd-block cd-block-right cd-block-mobile-center"
                                debug-label="Button:1000358"
                                id="block_1000358"
                                style=""
                            >
                                <div
                                    class="cd-block-content"
                                    id="block_1000358_content"
                                    style=""
                                >
                                    <a
                                        class="cd-button cd-button-primary"
                                        href="https://www.clubdesk.com"
                                    >
                                        Spielplan</a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="cd-col m6">
                            <div
                                data-block-type="25"
                                class="cd-block cd-block-left cd-block-mobile-center"
                                debug-label="Button:1000359"
                                id="block_1000359"
                                style=""
                            >
                                <div
                                    class="cd-block-content"
                                    id="block_1000359_content"
                                    style=""
                                >
                                    <a
                                        class="cd-button cd-button-primary"
                                        href="https://www.clubdesk.com"
                                    >
                                        Infos für Fans</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </MTemplate>
</div>
